$text-color: #333;
$title-color: purple;
$text-color-inactive: #aaa;

$text-color-alt: white;

$background-color: #fafafa;
$background-color-light: #eee;
$background-color-alt: black;

$link-color: teal;
$link-color-active: white;

$border-color: #eeeeee;
